<div class="well">
  Thank you for checking us out at Tech Entry Forum!
  <br><br>
  Entering the tech world can be a tough road to maneuver, but we are confident that becoming a part of this community will help ease the pain of any potential crashes. For newbies entering the industry, know that there is no such thing as a stupid question.
  <br><br>
  Our industry leaders watch this forum like a hawk and love to answer your questions. Come back often to view new responses!
  <br><br>
  View the social media links below for more help in your quest.
  <br><br>
  &copy; Tech Entry Forum, 2017
</div>
