<div class="well">
  <h3>Admin Portal</h3>
  <h4><em>Question Maintenance</em></h4>
</div>
<div class="well">
  <ul class="list-unstyled">
    {{#each model as |question|}}
      <h4>{{#link-to 'question-edit' question.id}}{{question.content}}{{/link-to}}</h4><br>
    {{/each}}
  </ul>
</div>
