<div class="well">
  <h4>Welcome! This forum is present to allow new techies to ask questions to the industry leaders. Click on a question below to view details and responses. Or, click the button to ask away!</h4>
</div>
<div class="well">
  <ul>
    {{#each model as |question|}}
      <li>
        <h4>{{question.content}}</h4>
      </li>
    {{/each}}
  </ul>
</div>
<div class="well">
  {{new-question saveQuestion="saveQuestion" question=model}}
</div>
